---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
NamespaceIndentation: None
AccessModifierOffset: -4
IndentWrappedFunctionNames: false
ContinuationIndentWidth: 4
PPIndentWidth: -1
IndentPPDirectives: None

# Braces
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

# Line width
ColumnLimit: 120

# Alignment
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

# Short statements
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

# Breaking
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: BinPack

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Includes
SortIncludes: Never

# Misc
FixNamespaceComments: true
MaxEmptyLinesToKeep: 2
ReflowComments: true
EmptyLineBeforeAccessModifier: Always
SeparateDefinitionBlocks: Leave
InsertBraces: false
...
